.home-head{
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 0px;
    letter-spacing: 30px;
}


.service-info{
    /* background-color: lightblue; */
    width: 100%;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    
}

.service-content{
    
    /* height: 60vh; */
    width: 60vw;
    /* background-color: yellow; */
    margin-top: 50px;
    margin-left: 300px;
    font-size: 22px;
}

.service-content p, li{
    color: #56564b;
    text-align: justify;
    font-size: 22px;
    /* font-size: 30px; */
}
.service-content ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
.service-content li{
    color: #56564b;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.service-content h1{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}

.service-content, .content-2 strong{
    /* color: black; */
    font-size: 27px;
}


.nature-img1{
    /* background-color: yellow; */
    width: 70vw;
    margin: 20px 15% 10px;
}

.paragraph{
    color:red;
}

.service-content h2{
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 0px;
    letter-spacing: 30px;
}
